.footer {
    background-color: #101010;
}
.footer__container {
    padding-bottom: 48px;
}
.container {
}
.footer__line {
    width: 101px;
    border: 4px solid $brown-color;
    margin-bottom: 71px;
}
.footer__links__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}
.footer__logo {
    margin-right: auto;
}
.footer__list {
    display: flex;
    align-items: center;
}
.footer__item {
    margin-right: 34px;
    &:last-child{
        margin-right: 0;
    }
}
.footer__link {
    color: $white-color;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 25px;
    letter-spacing: 2px;
    &:hover{
        color: $brown-color;
    }
}
.footer__text__wrapper {
    display: flex;
    align-items: center;
}
.footer__description {
    color: $white-color;
    opacity: 0.5;
    font-size: 1.5rem;
    line-height: 25px;
    font-weight: 500;
    width: 540px;
    margin-bottom: 56px;
}
.footer__bottom {
    color: $white-color;
    opacity: 0.5;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 25px;
}
.footer__links__list {
    margin-left: auto;
    display: flex;
}
.footer__links__item {
    margin-right: 16px;
    font-size: 24px;
    &:last-child{
        margin-right: 0;
    }
}
.facebook {
    color: $white-color;
    &:hover{
        color: $brown-color;
    }
}
.twitter {
    color: $white-color;
    &:hover{
        color: $brown-color;
    }
}
.instagram {
    color: $white-color;
    &:hover{
        color: $brown-color;
    }
}

@media screen and (max-width: 768px){
    .footer__links__wrapper{
        flex-direction: column;
        align-items: flex-start;
        .footer__logo{
            margin-bottom: 32px;
        }
    }
    .footer__text__wrapper{
        align-items: flex-end;
    }
}