.header {
    background-color: $background-color;
}
.header__container {
    padding-top: 32px;
    padding-bottom: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 10;
    position: relative;
}
.container {
}
.site__bar{
    display: none;
}
.site__logo {
}
.sitenav {
}
.sitenav__list {
    display: flex;
    align-items: center;
}
.sitenav__item {
    margin-right: 34px;
    &:last-child{
        margin-right: 0;
    }
}
.sitenav__link {
    font-weight: 700;
    font-size: 13px;
    line-height: 1.92;
    letter-spacing: 2px;
    color: $white-color;
    &:hover{
        color: $brown-color;
    }
}
.header__link {
}

@media screen and (max-width: 768px){
    .header__container{
        justify-content: flex-start;
    }
    .sitenav{
        display: none;
    }
    .site__bar{
        display: block;
        margin-right: 42px;
    }
    .site__logo{
        margin-right: auto;
    }
}